<%- include('./layout/Header') %>
<%- include('./layout/Navbar')%>

<div class="showcase">
  <h1>About Express <span class="green-text"> Diary </span></h1>
  <p>A simple app made with Express</p>
  <p>Version 1.0</p>
</div>

<%- include('./layout/Footer') %>
